.mat-form-field {
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    .actions-column {
        flex: none;
        flex-basis: 85px;
        text-align: right;
    }
}

.button-new {
    bottom: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    position: fixed;
    right: 0;
}