<div class="signin-content">
  <mat-card class="mat-elevation-z24">
    <mat-card-content>
      <div class="profile-picture"></div>
      <span>Shiba Inu</span>
      <form [formGroup]="vhlForm" (ngSubmit)="onSubmit()">

        <mat-icon>person</mat-icon>
        <mat-input-container class="login-input">
          <input matInput placeholder="Usuário" formControlName="login" autocomplete="off">
        </mat-input-container>

        <mat-icon>lock_outline</mat-icon>
        <mat-input-container class="login-input">
          <input matInput type="password" placeholder="Senha" formControlName="senha" autocomplete="off">
        </mat-input-container>

        <button mat-raised-button type="submit">Entrar</button>
        <span class="forget-password">Esqueceu a senha?</span>
      </form>
    </mat-card-content>
  </mat-card>
</div>