/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import 'vars.scss';
@import '~@angular/material/theming';
$custom-typography: mat-typography-config( $font-family: 'Noto Sans');
@include mat-core($custom-typography);
html,
body {
    height: 100%;
    margin: 0;
}

app-login {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('assets/img/login-page-bg.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.mat-card {
    margin: 8px;
}

.vhl-form {
    .vhl-form-content {
        padding-bottom: 20px;
        mat-form-field {
            display: block;
        }
        mat-slide-toggle {
            padding-bottom: 20px;
        }
    }
    .vhl-form-footer {
        padding-top: 24px;
    }
}

.mat-form-field {
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    .actions-column {
        flex: none;
        flex-basis: 85px;
        text-align: right;
    }
}

.button-new {
    bottom: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    position: fixed;
    right: 0;
}

.widget {
    margin: 10px;
}

.mat-paginator {
    display: block;
    float: right;
    background: transparent;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.grupo-de-botoes-footer {
    margin: 20px 24px;
    min-height: 55px;
}

mat-card {
    border-bottom: 1px solid $color-black;
    padding: 0px 24px;
}

mat-row {
    .mat-row.ng-star-inserted {
        &:last-child {
            border-bottom: none;
        }
    }
}